html,
body {
    margin: 0;
    font-size: 16px;
    font-family: 'Quicksand-regular', sans-serif;
    height: auto;
}

h1,
h2,
h3 {
    font-family: 'Quicksand-medium', sans-serif;
}

<<<<<<< HEAD
li a {
=======

li a{
>>>>>>> 3da4f6ede980bbd94323a63349e2171712cc3b73
    text-decoration: none;
   color: #107F6A;
}
a{
    color: #107F6A; 
}
.reseaux-sociaux .btn{
    background-color: #0000FF;;
}
.appel-urgence {
<<<<<<< HEAD
    /* position: fixed; */
=======
      position: fixed;
      z-index: 100; 
>>>>>>> 3da4f6ede980bbd94323a63349e2171712cc3b73
    width: 100%;
    height: 50px;
    background-color: red;
    font-size: 18pt;
    line-height: 0.1;
}


header {
    background-color: #ccc;
    width: 100%;
    height: 600px;
     padding: 150px; 
    background-image: url(../img/libere_toi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}

.slogan{
    width:100%;
    padding:10px;

}

#buttonFixed {
    margin-left: 25%;
    position: fixed;

}

.nav-Header {
    background-color: rgba(16, 127, 107, 0.993);
    color: #fff;
    width: 100%;

}

.nav-Header a {
    text-decoration: none;
}

.nav-Header a:hover {
    border-top: 2px solid #6DFFE4;
}

.nav-item {
    margin-right: 5px;
}
<<<<<<< HEAD
main{
    width:100%;
}
section {
    margin-top: 50px;
    width: 100%;
    height: auto;
}
=======
#mySidebar{
    z-index: 3;
     width: 300px;
     /* font-weight: bold; */
      display: none;
    } 

.slogan {
    padding-top: 17rem;
}

section {   
    width: 100%;
    height: auto;
 }
>>>>>>> 3da4f6ede980bbd94323a63349e2171712cc3b73

#accueil {
    padding-top: 10rem;
    height: auto;
    width: 100%;
<<<<<<< HEAD

=======
>>>>>>> 3da4f6ede980bbd94323a63349e2171712cc3b73
}

#qui-nousSommes {
    height: auto;
<<<<<<< HEAD
    width: 100%;

=======
    width: 100%; 
       padding-top: 10rem;
         
}

#nos-travaux {
    padding-top: 10rem;
>>>>>>> 3da4f6ede980bbd94323a63349e2171712cc3b73
}

.rounded-circle {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 0 auto;
    border: 2px solid #107F6A;
}

.fab {
    line-height: 2;
    padding-left: 5px;
    font-size: 15pt;
    color:#FFFFFF;
  

}

.fas {
    line-height: 2;
    padding-left: 15px;
    font-size: 32pt;
    color:#107F6A;
}
.fa-info{
    padding-left: 33px;
}


#flyer-noutous {
    float: right;

}

.rectangle {
    border: 1px solid #107F6A;
    width: 100%;
    height: auto;
    color: #000;
    display:flex;
    flex-wrap: wrap;

}
.logoutile{
    padding-top: 30px;
    padding-bottom: 50px;
     display: flex;
      flex-flow: row-wrap;
      justify-content: space-around;
     
     }


.navarrow {
    margin-left: 100px;
}

.suivreBtn {
    float: right;
    width: 100px;
}

.tableau-Link p {
    justify-content: flex-end;
}

<<<<<<< HEAD
.divPicture {
    /* margin-top:150px;   */
    width: 100%;
    height: auto;
    background-color: gray;
}

.divPicture img {
    width: 100%;
    height: auto;
=======
#lient-utiles {
     height: auto;
    width: 100%; 
       padding-top: 10rem;

}

footer {
    margin-top: 75px;
    height: 300px;
    color:#fff;
  background-color:  #107F6A;
>>>>>>> 3da4f6ede980bbd94323a63349e2171712cc3b73
}

.rapport-sytheseRec {
    border: 1px solid #107F6A;
    padding: 10px;
    width: 100%;
    height: auto;
}

.nosAction-Pic {
    margin-top: 150px;
    width: 100%;
    height: auto;
    background-color: gray;
}

.nosAction-Pic img {
    width: 100%;
    height: 350px;
}

.youtubePlayer {
    margin-top: 100px;
    margin-bottom: 20px;
    width: 560px;
    height: 315px;
    margin: 0 auto;
}

iframe {
    width: 560px;
    height: 315px;
}

#sections_panel {
    height: 0px;
    width: 100%;
    margin-top: 10px;
    margin-left: 160px;
    border-radius: 0px 0px 8px 8px;
    transition: height 0.3s linear 0s;
}
.textGauche {
    color:#107F6A;
    justify-content:flex-end;
    cursor: pointer;
 }

.logoutile li {
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
}

#firstTime {
    display: none;
}

.tableauxLink {
    width: 100%;
    cursor: pointer;
    color:#107F6A;
}

#tableaux-anterieurs {
    height: 0px;
    width: 100%;
    top: 10px;
    left: 160px;
    border-radius: 0px 0px 8px 8px;
    transition: height 0.3s linear 0s;
}

.hideTableaux {
    display: none;
}


footer {
    margin-top: 75px;
    width: 100%;
    padding: 15px;
    height: auto;
    color: #fff;
    background-color: #107F6A;
}
#mySidebar {
    position:absolute;
    width:91%;
    z-index: 3;
    /* margin-top: -250px; */
    display: none;
    color: #fff;
    background-color: #107F6A;
    height:402px;

}
#mySidebar a {
    color: #fff;
}
#closebtn {
    font-size: 48px;
    color: #fff;
   
}
#sidebarContent{
    margin-top:57px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .row{
     margin-right:0px; 
     margin-left: 0px; 
    }
    .col-sm{
        padding:0px;
    }
    header {
        height:334px;
        background: url(../img/baillonée.jpg) no-repeat center;
        padding:0px;
       
    }

    h1 {
        font-size: 22pt;
        padding: 10px;
    }

    .youtubePlayer {
        width: 100%;
    }

    iframe {
        width: 100%;
    }

    .rectangle {
        height: 200px;
        padding: 15px;
        line-height: 1;
      
    }
    #sections_panel{
        margin-left:0px;
    }

    .textGauche {
        margin-left:0px;
      
    }
    .logoutile {
         flex-direction:column;
        justify-content: center;}
    .container-fluid {
        padding-left: 49px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (max-width: 768px) {
    .row{
        margin-right:0px; 
        margin-left: 0px; 
       }
       .col-sm{
           padding:0px;
       }
        header {
           height:334px;
           background-image: url(../img/second-1.jpg);          
           background-size: cover;
           background-repeat: no-repeat;
           padding:0px;
          
       }
   
       h1 {
           font-size: 22pt;
           padding: 10px;
       }
   
       .youtubePlayer {
           width: 100%;
       }
   
       iframe {
           width: 100%;
       }
   
       .rectangle {
           height: 200px;
           padding: 15px;
           line-height: 1;
         
       }
       #sections_panel{
           margin-left:0px;
       }
   
       .textGauche {
           margin-left:0px;
         
       }
       .container-fluid {
           padding-left: 49px;
       }
        /* #mySidebar{
        margin-top: -285px;
       } */
 

} 
